<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>unlisted-schemes-enable-access</key>
        <dict>
            <key>enable</key>
            <false/>
        </dict>
        <key>shinhan-sr-ansimclick</key>
        <dict>
            <key>name</key>
            <string>신한 FAN(앱카드)</string>
            <key>itunes-id</key>
            <string>id572462317</string>
        </dict>
        <key>hdcardappcardansimclick</key>
        <dict>
            <key>name</key>
            <string>현대카드(+앱카드)</string>
            <key>itunes-id</key>
            <string>id702653088</string>
        </dict>
        <key>mpocket.online.ansimclick</key>
        <dict>
            <key>name</key>
            <string>삼성앱카드</string>
            <key>itunes-id</key>
            <string>id535125356</string>
        </dict>
        <key>tswansimclick</key>
        <dict>
            <key>name</key>
            <string>tswansimclick</string>
            <key>itunes-id</key>
            <string>id430282710</string>
        </dict>
        <key>cloudpay</key>
        <dict>
            <key>name</key>
            <string>하나1Q페이</string>
            <key>itunes-id</key>
            <string>id847268987</string>
        </dict>
        <key>lotteappcard</key>
        <dict>
            <key>name</key>
            <string>롯데앱카드</string>
            <key>itunes-id</key>
            <string>id688047200</string>
        </dict>
        <key>lpayapp</key>
        <dict>
            <key>name</key>
            <string>L.pay</string>
            <key>itunes-id</key>
            <string>id1036098908</string>
        </dict>
        <key>payco</key>
        <dict>
            <key>name</key>
            <string>PAYCO</string>
            <key>itunes-id</key>
            <string>id924292102</string>
        </dict>
        <key>citispay</key>
        <dict>
            <key>name</key>
            <string>citispay</string>
            <key>itunes-id</key>
            <string>id373559493</string>
        </dict>
        <key>ispmobile</key>
        <dict>
            <key>name</key>
            <string>ISP/페이북</string>
            <key>itunes-id</key>
            <string>id369125087</string>
        </dict>
        <key>nhallonepayansimclick</key>
        <dict>
            <key>name</key>
            <string>NH모바일카드 : 앱카드</string>
            <key>itunes-id</key>
            <string>id1177889176</string>
        </dict>
        <key>smshinhanansimclick</key>
        <dict>
            <key>name</key>
            <string>신한카드</string>
            <key>itunes-id</key>
            <string>id360681882</string>
        </dict>
        <key>shinhan-sr-ansimclick-payco</key>
        <dict>
            <key>name</key>
            <string>신한FAN-페이코</string>
            <key>itunes-id</key>
            <string>id3572462317</string>
        </dict>
        <key>shinhan-sr-ansimclick-naverpay</key>
        <dict>
            <key>name</key>
            <string>신한FAN-네이버페이</string>
            <key>itunes-id</key>
            <string>id3572462317</string>
        </dict>
        <key>kb-acp</key>
        <dict>
            <key>name</key>
            <string>KB국민 앱카드</string>
            <key>itunes-id</key>
            <string>id695436326</string>
        </dict>
        <key>scardcertiapp</key>
        <dict>
            <key>name</key>
            <string>삼성카드 인증서관리</string>
            <key>itunes-id</key>
            <string>id690323951</string>
        </dict>
        <key>citimobileapp</key>
        <dict>
            <key>name</key>
            <string>씨티모바일 앱</string>
            <key>itunes-id</key>
            <string>id1179759666</string>
        </dict>
        <key>kftc-bankpay</key>
        <dict>
            <key>name</key>
            <string>은행공동 계좌이체 PG서비스</string>
            <key>itunes-id</key>
            <string>id398456030</string>
        </dict>
        <key>smhyundaiansimclick</key>
        <dict>
            <key>name</key>
            <string>현대카드 안심클릭</string>
            <key>itunes-id</key>
            <string>Unknown</string>
        </dict>
        <key>lottesmartpay</key>
        <dict>
            <key>name</key>
            <string>lottesmartpay</string>
            <key>itunes-id</key>
            <string>id668497947</string>
        </dict>
        <key>nhappcardansimclick</key>
        <dict>
            <key>name</key>
            <string>nhappcardansimclick</string>
            <key>itunes-id</key>
            <string>Unknown</string>
        </dict>
        <key>nonghyupcardansimclick</key>
        <dict>
            <key>name</key>
            <string>nonghyupcardansimclick</string>
            <key>itunes-id</key>
            <string>Unknown</string>
        </dict>
        <key>citicardappkr</key>
        <dict>
            <key>name</key>
            <string>citicardappkr</string>
            <key>itunes-id</key>
            <string>Unknown</string>
        </dict>
        <key>paypin</key>
        <dict>
            <key>name</key>
            <string>paypin</string>
            <key>itunes-id</key>
            <string>Unknown</string>
        </dict>
        <key>uppay</key>
        <dict>
            <key>name</key>
            <string>uppay</string>
            <key>itunes-id</key>
            <string>Unknown</string>
        </dict>
        <key>banka</key>
        <dict>
            <key>name</key>
            <string>banka</string>
            <key>itunes-id</key>
            <string>Unknown</string>
        </dict>
        <key>itmss</key>
        <dict>
            <key>name</key>
            <string>iTunes Store</string>
            <key>itunes-id</key>
            <string>id915061235</string>
        </dict>
        <key>itms</key>
        <dict>
            <key>name</key>
            <string>iTunes Store</string>
            <key>itunes-id</key>
            <string>id915061235</string>
        </dict>
    </dict>
</plist>
